<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">메뉴</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/write">write</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/chat">chat</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" blank="_new">
            채팅 링크
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://composite-jetty-149103.uc.r.appspot.com/">구글</a>
            <a class="dropdown-item" href="/login">login</a>
            <a class="dropdown-item" href="/list">list</a>
            <a class="dropdown-item" href="/aggre">aggre</a>
            <a class="dropdown-item" href="/chat">chat</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/board/">sports</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" blank="_new">
           라우트
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/shop/shirts">shirts</a>
            <a class="dropdown-item" href="/shop/pants">pants</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/board/">sports</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/write">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
